a:hover {
    color:#f0e68c;
    cursor: pointer;
}

input[type="submit"]:hover {
    cursor:pointer;
}

ul,ol {
    list-style-type: none;
}

div.header {
    background-color: #000;
    color:#fff;
}

div.header h1 {
    margin: 5px 3%;
    float: left;
}

div.header-right {
    float: right;
    margin: 20px 3% 0;
}

div.footer {
    width: 100%;
    position:absolute;
    bottom: 0;
}


div.footer p {
    text-align: center;
    background-color: #000;
    color:#fff;
    margin: 0;
}

div.wrapper {
    width: 980px;
    min-height: 650px;
    margin: auto;
}
