.display_flex {
    display: flex;
}

.clear {
    clear:both;
}

.hidden-control {
    display: none;
}

.error {
    color: red;
}

.display_flex {
    display: flex;
}

/* padding */
.tpad_80px {
    padding-top: 80px;
}

/* width */
.w_450px {
    width: 450px;
}

/* margin */
.mrg-auto {
    margin: auto;
}
