
div.container {
    width: 100%;
    height: 650px;
}

div.main {
    display: flex;
    width: 920px;
    margin: auto;
}

div.main-left {
    width: 700px;
    height: 550px;
    padding-right: 10px;
    overflow: scroll;
    /* 「IE」「Microsoft Edge」への対応 */
    -ms-overflow-style: none;
    /* 「Firefox」への対応 */
    scrollbar-width: none;
}

/* 「Google Chrome」「Safari」への対応 */
div.main-left::-webkit-scrollbar {
    display: none;
}

div.main-left h3 {
    padding: 10px;
    background-color: #666;
    color: #fff;
    font-weight: normal;
}

div.main-left table tr:nth-child(2n+1) {
    background-color: #ccc;
}

div.main-left table tr th {
    background-color: #aaa;
    font-weight: normal;
}

div.main-left table tr td span {
    display: block;
    text-align: center;
}

div.main-left table tr td span#image_path {
    width: 50px;
    display: block;
    margin: 5px auto;
}

div.main-left table tr td span#image_path img {
    width: 50px;
}
