div.container {
    width: 100%;
    height: 650px;
}

div.main {
    display: flex;
    width: 920px;
    margin: auto;
}

div.main-left {
    width: 700px;
    height: 550px;
    padding-right: 10px;
    overflow: scroll;
}

div.main-left h3 {
    padding: 10px;
    background-color: #666;
    color: #fff;
    font-weight: normal;
}

div.detail {
    margin-top:40px;
    display: flex;
}

div.detail-left {
    width: 280px;
    margin: 0 50px 0 30px;
}

div.detail-left img {
    width: 280px;
}

div.detail-right h4 {
    margin: 0;
    font-size: 24px;
    color: red;
    margin-bottom: 50px;
}

div.detail-right h4 span {
    font-size: 16px;
    color: black;
}

div.buy-count {
    margin: 3px 50px 0 0;
    display: flex;
}

div.buy-count span {
    width: 50px;
}

div.buy-count select {
    width: 50px;
    height: 25px;
}

div.buy-submit
{
    margin-top: 50px;
}

div.buy-submit input[type="submit"]{
    margin-bottom: 10px;
    background-color: #bf0000;
    border-radius: 3px;
    color: #fff;
    width: 200px;
    height: 34px;
    border-style: none;
}